stages:
  - pull_backend_dockerimage
  - pull_frontend_dockerimage
  - deploy

before_script:
  - docker login -u "gitlab-ci-token" -p "$CI_BUILD_TOKEN" "$CI_REGISTRY"

pull_backend_dockerimage:
  stage: pull_backend_dockerimage
  script:
    #- docker login registry.gitlab.propulsion-home.ch/full-stack/batch-11-february-2020/group-projects/sagittarius/backend:latest
    - docker login registry.gitlab.propulsion-home.ch
    #- docker pull registry.gitlab.propulsion-home.ch/full-stack/batch-11-february-2020/group-projects/sagittarius/backend:latest

pull_frontend_dockerimage:
  stage: pull_frontend_dockerimage
  script:
    #- docker login registry.gitlab.propulsion-home.ch/full-stack/batch-11-february-2020/group-projects/sagittarius/frontend:latest
    - docker login registry.gitlab.propulsion-home.ch
    #- docker pull registry.gitlab.propulsion-home.ch/full-stack/batch-11-february-2020/group-projects/sagittarius/frontend:latest

deploy:
  stage: deploy
  when: manual
  script:
    - docker-compose -f docker-compose.prod.yml pull
    - docker-compose -f docker-compose.prod.yml down --remove-orphans
    - docker-compose -f docker-compose.prod.yml up
  #test
